body{
    background-color: antiquewhite;
}
h1{
    color:rgb(27, 138, 236);
    text-align: center;
    letter-spacing: 5px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: black wavy underline;

}
h2{
    color:#ff3c4b;
    text-align: center;
    font-family: Helvetica,Arial,sans-serif;
    font-weight: 300;
}
p{
    background-color: beige;
    color:blueviolet;
    line-height: 2;
    font-size: normal;
    font-family: 'Courier New', Courier, monospace;
}
button{
    text-align: center;
    background-color: aquamarine;
    color: blueviolet;
}
a{
    text-decoration: none;
    color:black;
    text-transform: uppercase;
    font-weight: bold;
}
label{
    color:rgb(34, 212, 14);
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
}