p{
    text-align: center;
    font-family: Helvetica;
    font-size:25px;
    font-weight: 550;
    text-decoration: #97DB9A wavy underline;
}
table{
    margin:auto;
    border-collapse: collapse;
    border: 2px solid rgb(200,200,200);
    letter-spacing: 1px;
    font-size: 1.5rem;
}
td, th {
    border: 1px solid rgb(212, 196, 196);
    padding: 10px 20px;
  }
