/* Background Styling */
html{
    font-family:"Noto Sans",Source Code Pro,Arial, Helvetica, sans-serif;
    font-size:20px;
}
body{
    background-color: #FFCDB2;
    margin:0;
}

/* Page Styling */
.Top-Navigation{
    background-color: #FFB4A2;
    height: 75px;
    border-radius: 0 0 15px 15px;
    margin-bottom: .75rem;
    padding-left: 1%;
    padding-top: 1%;
    padding-bottom:1%;
}
.Top-Navigation div{
    display: inline-block;
    background-color: #FF7D37;
    height: 90%;
    width: 25%;
    border-radius: 15px;
}
#Delimitator{
    display: inline-block;
    height:95%;
    width: .25%;
    border-radius: 0;
    margin-left: 350px;
    margin-right: 100px;
}
.Top-Navigation button{
    border-radius: 15px;
    display: inline-block;
    height: 100%;
    width: 15%;
    border:none;
    background-color: #BA4100;
    margin-left: 25px;
}
.Top-Navigation button:hover{
    background-color: #FFF1E9;
}
.Top-Navigation button:active{
    background-color: #D9C0D9;
}
.Main-Content{
    display: block;
    background-color: #E5989B;
    height: 1250px;
    border-radius: 15px;
    margin-bottom: .75rem;
    padding: 1rem .65rem;
}
.Main-Content .Article{
    display: inline-block;
    background-color: #B5838D;
    height: 100%;
    width: 60%;
    border-radius: 15px;
    margin-right: 30px;
    padding: 0 .65rem;
}
.Main-Content .Article div{
    background-color: #6D6875;
    height: 19%;
    margin-top:10px;
    border-radius: 15px;
}

.Main-Content .Sidebar{
    display: inline-block;
    background-color: #B5838D;
    height: 100%;
    width: 35%;
    padding: 0 .25rem;
    border-radius: 15px;
}
.Main-Content .Sidebar div{
    background-color: #6D6875;
    height: 3.5%;
    margin-top:10px;
    margin-bottom: 10px;
    border-radius: 15px;
}
.Footer{
    display: block;
    background-color: #E5989B;
    height: 150px;
    border-radius: 15px 15px 0 0;
    padding-top:.50rem;
}
.Footer div{
    border-radius: 15px 15px 0 0;
    background-color: #B5838D;
    width: 98%;
    height: 100%;
    margin-left: 1rem;
}