html{
    margin:0px;
    font-size:20px;
}
body{
    background-color: rgb(174, 174, 174);
}
header{
    background-color: rgb(180, 198, 190);
    height: 140px;
}
header p{
    text-align: center;
    font-family: Autumn in November,monospace;
    font-size:2rem;
    margin: 0;
    padding-left: 10rem;
    padding-bottom: 1rem;
}
header img{
    float: right;
    margin:0px;
    width:3rem;
    height: 3rem;
    padding-left: 5rem;
}
header .navigation{
    background-color: #63A375;
    margin-left: .75rem;
    margin-right: .75rem;
    text-align: center;
    height: 40px;
}
header .navigation a{
    display: inline-block;
    margin-top: .45rem;
    font-family: Agency FB, monospace;
    text-decoration: none;
    padding-left: 2rem;
    padding-right: 2rem;
    font-weight: bold;
    color:black
}
.main-section .welcome, .sidebar{
    display: inline-block;
    background-color: #63A375;
}
.main-section{
    height: 475px;
}
.main-section, footer{
    background-color: rgb(180, 198, 190);
    margin: .5rem 0em;
}
.main-section .welcome h2{
    text-align: center;
    margin:0;
    font-family: belalang, monospace;
    font-size: 3rem;
}
.main-section .sidebar h2{
    text-align: center;
    margin:0;
    font-family: belalang, monospace;
    font-size: 3rem;
}
.main-section .welcome{
    font-family: Book Antiqua, monospace;
    width: 60%;
    float: left;
    margin:.75rem;
    height: 437.3px;
}
.main-section .sidebar{
    font-family: Book Antiqua, monospace;
    width: 35.5%;
    float: right;
    margin:.75rem;
    height: 437.3px;
}
.main-section .sidebar .photos{
    margin-left: 3.80rem;
}
.main-section .sidebar .photos img{
    width: 40%;
    height: 30%;
    object-position: center;
}
footer p{
    font-family: Book Antiqua, monospace;
    padding: 1.15rem .75rem;
    margin:0;
}